In [56]:
class Fraction:
  
  def __init__(self, num = 0, den = 1):
    
    if den == 0:
      den = 1

    self.num = num
    self.den = den
  
  def print(self):
    if self.num == 0:
      print(0)
    elif self.den==1:
      print(self.num)
    else:
      print(self.num, '/', self.den)

# if we want to divide it such as e.g 10/20 ans is 1/2 so for that we will create simplify funct:
  def simplify(self):
    current = min(self.num, self.den) 
    while current > 1:   # let current bigger than 1
      if self.num % current == 0 and self.den % current == 0: 
        break
      current -=1

    # eg. 14/6 (6 does not div 14) current will use less than -1 i.e 5 (5 does not div 14) like this (4 does not div 14) (3 does not div 14)
    # (2 div 14) and it will also div 6 i.e 7/3 
    self.num = self.num//current
    self.den = self.den//current

  def add(self,other):
    newNum = other.den*self.num + other.num*self.den
    newDen = other.den * self.den

    self.num = newNum
    self.den = newDen
    self.simplify()

  def multiply(self, other):

    newNum = other.num * self.num
    newDen = other.den * self.den
    self.num = newNum
    self.den = newDen
    self.simplify()

In [57]:
f1 = Fraction(2, 5)
f2 = Fraction(1, 3)

In [58]:
f1.add(f2)
f1.print()

11 / 15

In [60]:
f1.multiply(f2)
f1.print()

11 / 45

In [61]:
f1 = Fraction(9, 9)
f2 = Fraction(9, 9)

In [62]:
f1.multiply(f2)
f1.print()

1