# **Recursion**

In [20]:
def fact(n):
  if n==0:
    return 1
  # return n * fact(n-1)
  small_out = fact(n-1)
  return n*small_out

# n = int(input())
# fact(n)

### Principal of Mathematical Induction:

##### **Sum of 'n' natural numbers:**

In [21]:
# def sum_n(n):
#   if n==0:
#     return 0 
#   small_out = sum_n(n-1)
#   output = small_out+n

def sum(n):
    if n == 1:
        return 1
    return n + sum(n-1)

In [22]:
n = int(input())
print(fact(n))
print(sum(n))

5
120
15

##### **Print numbers from 1 to n:**

In [32]:
def print_1_to_n(n):
  if n==0:
    return
  print_1_to_n(n-1)
  print(n)
  return

n = int(input())
print_1_to_n(n)

5
1
2
3
4
5

print_1_to_n(5):
* 5 said I'm not 0 so went to 4 
* 4 said I'm not 0 so went to 3 and so on goes
* at last 0 said I'm 0 so no need to goes on.start printing now.
* our code is statisfy so started pritning from 1 to 5

##### **Print numbers from n to 1:**

In [34]:
def print_n_to_1(n):
  if n==0:
    return
  print(n)
  print_n_to_1(n-1)

n= int(input())
print_n_to_1(n)

5
5
4
3
2
1

print_n_to_1(5):
* 5 said I'm not 0 so went to 4 & beforing going to 4 it said let me first print myself i.e 5 and went to 4
* 5 said I'm not 0 so went to 3 & beforing going to 3 it said let me first print myself i.e 4 and went to 3 and so on goes

In [37]:
def predict(n):
  if (n<0):
    return
  print(n, end=' ')
  predict(n-2)

num=5
predict(num)

5 3 1